.bar-xj
    background: #CF3529
    box-shadow: none
    .mui-title
        color: #ffffff
    .mui-btn-link,
    .mui-icon
        color: #ffffff
.mui-bar-tab
    .mui-tab-item
        &.mui-active
            color: #CF3529
.mui-grid-view.mui-grid-9.icon-menu 
    .mui-media
        background: #ffffff
        .icon
            display: inline-block
            width: 2rem
            height: 2rem
            img
                width: 100%
.bgf
    background: #ffffff
.home-list-item
    .mui-table-view-cell > a:not(.mui-btn)
        white-space: normal
        text-overflow: ellipsis
        .mui-media-body
            .name
                line-height: 1.5rem
                margin: 0
                font-size: 1rem
                font-weight: 500
            .info
                .price
                    color: #ff9000
                    font-size: .4rem
                    strong
                        font-size: 1rem
                .city
                    color: #999999
                    font-size: .6rem
            .des
                span
                    display: inline-block
                    margin-right: 10px
                    &:last-child
                        margin-right: 0
