body {
  font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Helvetica Neue",Arial,sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.ui-nowrap-multi {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ui-nowrap, .recommend-img-list .mui-card .mui-card-content a {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-muted {
  color: #999;
}

.text-primary {
  color: #4FB0FF;
}

.text-danger {
  color: #CF3529;
}

.text-purple {
  color: #774FFF;
}

.text-green {
  color: #05cc47 !important;
}

.text-orange {
  color: #ff5000;
}

.text-darkgreen {
  color: #3DE1CD;
}

.text-pink {
  color: #FF6399;
}

.btn-bar-2 {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-bar-2 .btn-primary {
  background: #267fd9;
  color: #ffffff;
  font-size: 12px;
}

.btn-bar-2 .btn-orange {
  background: #ff6f06;
  color: #ffffff;
  font-size: 12px;
}

.btn-bar-2.mui-bar-tab .mui-tab-item .mui-icon {
  top: 0;
}

.btn-bar-2.mui-bar-tab .mui-tab-item.mui-active {
  opacity: .8;
  color: #ffffff;
}

.bar-xj-home {
  background: #CF3529;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bar-xj-home .mui-title {
  color: #ffffff;
}

.bar-xj-home .mui-btn-link,
.bar-xj-home .mui-icon {
  color: #ffffff;
}

.bar-xj-home .mui-tab-item.mui-active {
  color: #CF3529;
}

.mui-grid-view.mui-grid-9.icon-menu .mui-media {
  background: #ffffff;
}

.mui-grid-view.mui-grid-9.icon-menu .mui-media .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.mui-grid-view.mui-grid-9.icon-menu .mui-media .icon img {
  width: 100%;
}

.bgf {
  background: #ffffff;
}

.mui-table-view .mui-table-view-cell > a:not(.mui-btn) .avatar {
  border-radius: 50%;
}

.home-list-item .mui-table-view-cell > a:not(.mui-btn) {
  white-space: normal;
  text-overflow: ellipsis;
}

.home-list-item .mui-media-body .name {
  line-height: 1.2;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-list-item .mui-media-body .info .price {
  color: #ff9000;
  font-size: .4rem;
}

.home-list-item .mui-media-body .info .price strong {
  font-size: 1rem;
}

.home-list-item .mui-media-body .info .city {
  color: #999999;
  font-size: .6rem;
}

.home-list-item .mui-media-body .des span {
  display: inline-block;
  margin-right: 10px;
}

.home-list-item .mui-media-body .des span:last-child {
  margin-right: 0;
}

.pro_filter_more {
  width: 100%;
  min-height: 45px;
  padding: 0 5px;
  font-size: 12px;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
}

.pro_filter_more .title {
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
}

.pro_filter_more .mui-col-xs-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.pro_filter_more .mui-col-xs-6 label {
  display: block;
  width: 65px;
  line-height: 24px;
}

.pro_filter_more .mui-col-xs-6 .select-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0%;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
  margin: 0;
  border-radius: 12px;
  background: #fafafa;
  border: 1px solid #e5e5e5 !important;
}

.detail-imgbox {
  position: relative;
}

.detail-imgbox img {
  vertical-align: top;
}

.detail-info {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.detail-info h1 {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
  line-height: 1.42857143;
  margin-bottom: .5rem;
}

.detail-info small {
  color: #999999;
}

.info-table .title {
  line-height: 30px;
  font-size: 16px;
  padding: 4px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.info-table .mui-row li {
  padding: 5px 10px;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  color: #666666;
}

.info-table .mui-row li:nth-child(odd) {
  border-right: 1px solid #e5e5e5;
}

.info-table .activity-center {
  padding-right: 15px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  overflow: hidden;
  color: #666666;
}

.info-table .activity-center p {
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  background-color: white;
  font-size: 16px;
  text-align: justify;
  line-height: 1.42857143;
}

.info-table .activity-center ol {
  padding-left: 15px;
  margin: 0;
}

.info-table .activity-center ol li {
  list-style-type: disc;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 4px;
}

.info-table .comment .mui-table-view-cell a {
  white-space: normal;
}

.info-table .comment .mui-table-view-cell a .name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  font-weight: 400;
}

.info-table .comment .mui-table-view-cell a .time {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 80px;
  font-size: 12px;
  color: #bbbbbb;
  font-weight: normal;
  text-align: right;
  font-style: normal;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.substance-more-activit-title {
  padding: 8px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.substance-more-activit-title .title-line {
  width: 1rem;
  height: 1px;
  background: #999;
  margin: 0 .08rem;
}

.substance-more-activit-title .list-title {
  padding: 0 5px;
  color: #333;
  margin: 0;
}

.zj-header-bg {
  padding-top: 120px;
  background: url(../images/zj_img2.jpg) no-repeat;
  background-size: cover;
}

.user-container {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user-container .avatar-box {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 84px;
  height: 84px;
  border-radius: 64px;
  border: 3px solid #ffffff;
  overflow: hidden;
  margin-top: -12px;
}

.user-container .avatar-box img {
  width: 100%;
}

.user-container .user-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
}

.user-container .user-info .name {
  font-size: 18px;
  color: #484844;
}

.user-container .user-info .follow-meta {
  padding-top: 5px;
}

.user-container .user-info .follow-meta p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 12px;
}

.user-container .user-info .follow-meta p .num {
  display: block;
  line-height: 10px;
  color: #333333;
  font-weight: 500;
}

.user-container .description {
  padding: 10px;
  font-size: 12px;
}

.user-container .description p {
  color: #484848;
}

.user-container .description .mui-btn-block {
  padding: 6px 12px;
  margin: 0;
}

.jingjiren-info {
  position: relative;
  height: 300px;
  background: #ffffff;
}

.jingjiren-info .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 160px;
  background: #fff url(../images/zj_img.jpg) no-repeat;
}

.jingjiren-info .box {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
  width: 100%;
}

.jingjiren-info .box .con {
  background: #ffffff;
  padding-top: 50px;
  -webkit-box-shadow: 0px 6px 4px 0px rgba(228, 231, 240, 0.5);
          box-shadow: 0px 6px 4px 0px rgba(228, 231, 240, 0.5);
  border-radius: 5px;
}

.jingjiren-info .box .con .avatar {
  position: absolute;
  left: 50%;
  top: -30px;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}

.jingjiren-info .box .con .avatar img {
  width: 100%;
}

.jingjiren-info .box .con .info {
  padding: 5px 10px;
}

.jingjiren-info .box .con .info .name {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.jingjiren-info .box .con .info .tags {
  height: 20px;
  margin: 8px 0;
  text-align: center;
}

.jingjiren-info .box .con .info .tags span {
  margin-right: 8px;
  line-height: 12px;
  padding: 2px 6px 1px;
  font-size: 10px;
  color: #536D8C;
  background: #F4F6F9;
}

.jingjiren-info .box .con .info .base-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jingjiren-info .box .con .info .base-info li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
  text-align: center;
  font-size: 10px;
  max-width: 33.33%;
}

.jingjiren-info .box .con .info .base-info li:after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "|";
  color: #eeeeee;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.jingjiren-info .box .con .info .base-info li:last-child {
  border-right: 0;
}

.jingjiren-info .box .con .info .base-info li:last-child:after {
  display: none;
}

.jingjiren-info .box .con .info .base-info li strong {
  display: block;
  line-height: 12px;
}

.jingjiren-info .box .con .info .base-info li span {
  color: #999999;
}

.recommend-img-list .mui-card {
  margin: 2px;
}

.recommend-img-list .mui-card .img-box img {
  width: 100%;
}

.recommend-img-list .mui-card .mui-card-content a {
  display: block;
  line-height: 30px;
  color: #333333;
}

.paimai-wrapper .paimai-list li .title {
  font-weight: 500;
  color: #333333;
}

.paimai-wrapper .paimai-list li .title-No {
  font-size: 1rem;
  color: #333333;
  font-weight: 550;
}

.paimai-wrapper .status {
  position: relative;
  padding-left: 10px;
}

.paimai-wrapper .status:after {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.paimai-wrapper .status.green:after {
  background: #05CC47;
}

.paimai-wrapper .status.blue:after {
  background: #4FB0FF;
}

.paimai-wrapper .status.red:after {
  background: #cf3529;
}

.paimai-wrapper .status-con {
  padding: 8px 15px;
}

.paimai-wrapper .status-con span {
  padding-right: 10px;
  font-size: 14px;
}

.aui-flexView {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.aui-scrollView {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.aui-jop-chang {
  width: 100%;
  padding: 3.5rem 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#cf3529), to(#e54e31));
  background-image: linear-gradient(to right, #cf3529, #e54e31);
  background-color: #cf3529;
  height: 200px;
  color: #fff;
  font-size: 0.95rem;
}

.aui-jop-chang p {
  color: rgba(255, 255, 255, 0.6);
}

.aui-jop-chang .login-logo {
  width: 40px;
  height: 40px;
  margin: -30px auto 0 auto;
}

.aui-jop-chang .login-logo img {
  width: 100%;
}

.aui-jop-top {
  margin-top: -80px;
  padding: 10px;
}

.aui-jop-top .aui-jop-top-box {
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 3px;
  background: #fff;
}

.aui-jop-top .aui-jop-top-box .aui-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  position: relative;
}

.aui-jop-top .aui-jop-top-box .aui-flex .aui-form-item {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.aui-jop-top .aui-jop-top-box .aui-flex .aui-form-item img {
  width: 25px;
  height: 25px;
  display: block;
  border: none;
}

.aui-jop-top .aui-jop-top-box .aui-flex .aui-flex-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0%;
  font-size: 14px;
  color: #333;
}

.aui-jop-top .aui-jop-top-box .aui-flex .aui-flex-box input {
  width: 100%;
  height: auto;
  padding: 0.3rem 0;
  color: #333333;
  background: none;
  border: none;
  margin: 0;
}

.aui-jop-top .aui-jop-top-box .aui-flex .aui-psd a {
  color: #646464;
  font-size: 0.85rem;
}

.aui-jop-top .aui-jop-top-box .aui-flex .aui-yzm {
  width: 90px;
  height: 30px;
}

.aui-jop-top .aui-jop-top-box .aui-flex .aui-yzm img {
  width: 90px;
  height: 30px;
}

.b-line {
  position: relative;
}

.b-line:after {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #e2e2e2;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.aui-form-button {
  padding: 2rem 0;
}

.aui-form-button button {
  background: #de442c;
  width: 90%;
  margin: 0 auto;
  display: block;
  padding: 0.5rem 0;
  border-radius: 20px;
  border: none;
  color: #fff;
}

.aui-register-a a {
  padding: 0;
  color: #de442c;
  font-size: 0.9rem;
}

.aui-register a {
  text-align: center;
  color: #6a6a6a;
  display: block;
  padding: 1.5rem 0;
  font-size: 0.9rem;
}

.aui-footer-link {
  text-align: center;
}

.aui-footer-link a {
  color: #6a6a6a;
  display: block;
  padding: 1rem 0;
  font-size: 0.9rem;
}

.aui-footer-link em {
  font-style: normal;
}

.aui-register-a a {
  padding: 0;
  color: #de442c;
  font-size: 0.9rem;
}

.weui-uploader__hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weui-uploader__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.weui-uploader__info {
  color: #B2B2B2;
}

.weui-uploader__bd {
  margin-bottom: -4px;
  margin-right: -9px;
  overflow: hidden;
}

.weui-uploader__files {
  list-style: none;
}

.weui-uploader__file {
  position: relative;
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
  width: 79px;
  height: 79px;
  background: no-repeat center center;
  background-size: cover;
}

.weui-uploader__file .del {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: right;
  vertical-align: top;
  z-index: 9999;
}

.weui-uploader__file .del .mui-icon {
  font-weight: bold;
}

.weui-uploader__file_status {
  position: relative;
}

.weui-uploader__file_status:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.weui-uploader__file_status .weui-uploader__file-content {
  display: block;
}

.weui-uploader__file-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
}

.weui-uploader__file-content .weui-icon-warn {
  display: inline-block;
}

.weui-uploader__input-box {
  float: left;
  position: relative;
  margin-right: 9px;
  margin-bottom: 9px;
  width: 77px;
  height: 77px;
  border: 1px solid #D9D9D9;
}

.weui-uploader__input-box:before, .weui-uploader__input-box:after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #D9D9D9;
}

.weui-uploader__input-box:before {
  width: 2px;
  height: 39.5px;
}

.weui-uploader__input-box:after {
  width: 39.5px;
  height: 2px;
}

.weui-uploader__input-box:active {
  border-color: #999999;
}

.weui-uploader__input-box:active:before, .weui-uploader__input-box:active:after {
  background-color: #999999;
}

.weui-uploader__input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*# sourceMappingURL=style.css.map */